.ivu-menu-vertical.ivu-menu-light,
.ivu-menu-vertical.ivu-menu-light .ivu-menu-item-active:not(.ivu-menu-submenu),
.ivu-menu-vertical.ivu-menu-light .ivu-menu-item-active:not(.ivu-menu-submenu):hover,
.ivu-menu-vertical.ivu-menu-light .ivu-menu-submenu-title-active:not(.ivu-menu-submenu),
.ivu-menu-vertical.ivu-menu-light .ivu-menu-submenu-title-active:not(.ivu-menu-submenu):hover {
    background: #363e4f;
}
.ivu-menu {
    color: #fff;
    &:hover {
       color: #495060;
    }
}

@media screen and (max-height: 786px){
    .searchBox {
        .ivu-card-body {
            padding-top: 10px !important;
            padding-bottom: 10px !important;
        }
    }
    .ivu-table {
        td, th {
            height: 40px;
        }
    }
}
